{% extends 'base.html' %}
{% load content_tags %}
{% load embed_video_tags %}

{% block title %}Создание сообщения{% endblock %}

{% block content %}
<div class="ms-4 me-4">
    <div class="position-relative mx-auto" style="width: 700px; height: 70px;">
        <h3 class="position-absolute top-50 start-50 translate-middle">Создание сообщения</h3>
    </div>
    {% if parent_message %}
        <h4>Создание сообщения в ответ на это:</h4>
        <a class="nav-link active" aria-current="page" href="{{ parent_message.subject.get_absolute_url }}">
            <h3>{{ parent_message.subject.name }}</h3>
        </a>
        <table class="table">
            <tbody class="border">
                <tr>
                    <td class="border" style="width: 200px; height: 250px;">
                        <a class="nav-link active" aria-current="page" href="#">
                            <img src="{{ parent_message.author.profile.photo.url }}" class="rounded mx-auto d-block" alt="default-photo">
                        </a>
                        <a class="nav-link active pt-4 ps-3" aria-current="page" href="#">
                            {{ parent_message.author }}
                        </a>
                    </td>
                <td>
                    <div>
                        {% for content in parent_message.contents.all %}
                        <div>
                            {% with model_name=content.content_type.model %}
                            <div class="fs-6 fw-light">
                                {% if content.updated > content.created %}
                                Изменено {{ content.updated }}
                                {% else %}
                                Добавлено {{ content.created }}
                                {% endif %}
                            </div>
                            {% if model_name == 'text' %}
                            {{ content.item.text|linebreaks }}
                            {% elif model_name == 'image' %}
                            <p>
                                <img src="{{ content.item.file.url }}" style="max-width: 250px;">
                            </p>
                            {% else %}
                            {% video content.item.video "small" %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        {% endfor %}
                    </div>
                </td>
                </tr>
                <tr>
                    <td class="border">Опубликовано: {{ parent_message.created }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h4>Создание сообщения по теме: {{ subject.name }}</h4>
    {% endif %}
    <div class="position-relative mx-auto" style="width: 700px">
        <form method="post">
            {{ text_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Создать сообщение"></p>
        </form>    
    </div>
</div>
{% endblock %}