{% extends 'base.html' %}
{% load embed_video_tags %}

{% block title %}Удаления контента{% endblock %}

{% block content %}
<div class="ms-4 me-4">
    <div class="position-relative mx-auto" style="width: 700px; height: 70px;">
        <h3 class="position-absolute top-50 start-50 translate-middle">Создание сообщения</h3>
    </div>
    <h4>Подтвердите удаление контента: </h4>
    <div class="fs-6 fw-light">
        {% if content.updated > content.created %}
            Изменено {{ content.updated }}
        {% else %}
            Добавлено {{ content.created }}  
        {% endif %}
    </div>
    {% with model_name=content.content_type.model %}
        {% if model_name == 'text' %}
            {{ content.item.text|linebreaks }}
        {% elif model_name == 'image' %}
            <p>
                <img src="{{ content.item.file.url }}" style="max-width: 250px;">
            </p>
        {% else %}
            {% video content.item.video "small" %}
        {% endif %}
    {% endwith %}
    <div class="position-relative mx-auto" style="width: 700px">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Удалить"></p>
        </form>    
    </div>
</div>
{% endblock %}