{% extends 'base.html' %}
{% load content_tags %}

{% block title %}Форум{% endblock %}

{% block content %}
<div class="ms-4 me-4">
    <div class="position-relative mx-auto" style="width: 200px; height: 70px;">
        <h3 class="position-absolute top-50 start-50 translate-middle">Разделы</h3>
    </div>
    <div class="list-group">
        {% for section in sections %}
            {% if forloop.counter|mod:2 != 0 %}
                <a href="{{ section.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-secondary">{{ section.name }}</a>
            {% else %}
                <a href="{{ section.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-light border border-secondary">{{ section.name }}</a>
            {% endif %}
        {% empty %}
            <h4>Ошибка - нет разделов</h4>
        {% endfor %}
    </div>
{% endblock %}