{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block title %}{{ messages.first.subject.name }}{% endblock %}

{% block content %}
    <div class="ms-4 me-4">
        <div class="position-relative mx-auto" style="width: 700px; height: 70px;">
            <h3 class="position-absolute top-50 start-50 translate-middle">{{ messages.first.subject.section.name }}</h3>
        </div>
        <h2>{{ messages.first.subject.name }}</h2>
        <a class="btn btn-outline-secondary m-3" href="{% url 'content:create_message' messages.first.subject.id messages.first.subject.slug %}">Добавить сообщение</a>
        {% for message in messages %}
            <table class="table">
                <tbody class="border">
                    <tr>
                        <td class="border" style="width: 200px;">
                            <a class="nav-link active" aria-current="page" href="#">
                                <img src="{{ message.author.profile.photo.url }}" class="rounded mx-auto d-block" alt="default-photo">
                            </a>
                            <a class="nav-link active pt-4 ps-3" aria-current="page">
                                {% if message.author.first_name and message.author.last_name %}
                                    {{ message.author.first_name }} {{ message.author.last_name }}
                                {% else %}
                                    {{ message.author }}
                                {% endif %}
                            </a>
                        </td>
                        {% with user=request.user %}
                        <td>
                            <div>
                                {% with parent_message=message.parent_message %}
                                    {% if parent_message %}
                                        <p class="fw-bold">Ответ пользователю: {{ parent_message.author }}</p>
                                    {% endif %}
                                    {% for content in message.contents.all %}
                                    <div>
                                        {% with model_name=content.content_type.model %}
                                        <div class="fs-6 fw-light">
                                            {% if content.updated > content.created %}
                                                Изменено {{ content.updated }}
                                            {% else %}
                                                Добавлено {{ content.created }}  
                                            {% endif %}
                                            {% if user == message.author %}
                                            <a href="{% url 'content:create_update_content' message.id %}?content={{ model_name }}&id={{ content.id }}">
                                                <img src="{% static 'img/edit.png' %}" style="max-width: 20px;" alt="edit-content">
                                            </a>
                                            {% if forloop.counter != 1 %}
                                                <a href="{% url 'content:delete_content' content.id %}">
                                                    <img src="{% static 'img/delete.png' %}" style="max-width: 20px;" alt="delete-content">
                                                </a>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                        {% if model_name == 'text' %}
                                            {{ content.item.text|linebreaks }}
                                        {% elif model_name == 'image' %}
                                        <p>
                                            <img src="{{ content.item.file.url }}" style="max-width: 250px;">
                                        </p>
                                        {% else %}
                                            {% video content.item.video "small" %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                            <td class="border">Опубликовано: {{ message.created }}</td>
                            <td class="border">
                                <a class="btn btn-outline-secondary" href="{% url 'content:create_message' message.subject.id message.subject.slug %}?id={{ message.id }}">Ответить на сообщение</a>
                            </td>
                            {% if user.is_authenticated and message.author == user %}
                                <td class="border">
                                    <li class="btn btn-outline-secondary">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Добавить контент
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'content:create_update_content' message.id %}?content=text">Текст</a></li>
                                            <li><a class="dropdown-item" href="{% url 'content:create_update_content' message.id %}?content=image">Изображение</a></li>
                                            <li><a class="dropdown-item" href="{% url 'content:create_update_content' message.id %}?content=video">Видео</a></li>
                                        </ul>
                                    </li>
                                </td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}