{% extends 'base.html' %}

{% block title %}Статистика {{ subject_views.subject.first.name }}{% endblock %}

{% block content %}
    <div class="ms-4 me-4">
        <h2>Статистика просмотров темы - <a href="{{ subject.get_absolute_url }}">{{ subject.name }}</a></h2>
        {% if views_data %}
        <p>Всего просмотров - {{ total_views }}</p>
        <div style="width: 700px;" class="mx-auto">
            <canvas id="myChart"></canvas>
        </div>
        {% else %}
        <h2>Нет данных о просмотрах</h2>
        <p>Данные обнавляются раз в сутки</p>
        {% endif %}
        <script>
            // Пример данных для графика
            var chartData = {{ views_data|safe }};
    
            // Инициализация Chart.js
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: chartData.labels,
                    datasets: [{
                        label: 'Количество просмотров',
                        data: chartData.values,
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
{% endblock %}