{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}
{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Введите свой новый пароль дважды</p>
        <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Поменять пароль" /></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}