{% extends 'base.html' %}
{% load embed_video_tags %}

{% block title %}Мои темы{% endblock %}

{% block content %}
    <div class="ms-4 me-4">
        {% for subject in subjects %}
            <table class="table mt-2">
                <tbody class="border">
                    <tr>
                        <td class="border" style="width: 200px; height: 250px;">
                            <a class="nav-link active" aria-current="page" href="#">
                                <img src="{{ subject.author.profile.photo.url }}" class="rounded mx-auto d-block" alt="default-photo">
                            </a>
                            <a class="nav-link active pt-4 ps-3" aria-current="page" href="#">
                                {% if subject.author.first_name and subject.author.last_name %}
                                    {{ subject.author.first_name }} {{ subject.author.last_name }}
                                {% else %}
                                    {{ subject.author }}
                                {% endif %}
                            </a>
                        </td>
                    <td>
                        <div>
                            <a class="nav-link active" aria-current="page" href="{{ subject.get_absolute_url }}">
                                <h3>{{ subject.name }}</h3>
                            </a>
                            {% for content in subject.messages.first.contents.all %}
                                <div>
                                    {% with model_name=content.content_type.model %}
                                    <div class="fs-6 fw-light">
                                        {% if content.updated > content.created %}
                                            Изменено {{ content.updated }}
                                        {% else %}
                                            Добавлено {{ content.created }}  
                                        {% endif %}
                                    </div>
                                    {% if model_name == 'text' %}
                                        {{ content.item.text|linebreaks }}
                                    {% elif model_name == 'image' %}
                                    <p>
                                        <img src="{{ content.item.file.url }}" style="max-width: 250px;">
                                    </p>
                                    {% else %}
                                        {% video content.item.video "small" %}
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <td class="border">Опубликовано: {{ subject.created }}</td>
                        <td><p><a class="btn btn-outline-secondary" href="{% url 'statistic_by_subject' subject.id subject.slug %}">Смотреть статистику</a></p></td>
                    </tr>
                </tbody>
            </table>
        {% empty %}
            <h4>У вас нет созданных тем</h4>
        {% endfor %}
    </div>
{% endblock %}